@import "tailwindcss";

html, body {
  background: white;
  color: black;
}

input[type="file"]::file-selector-button {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  margin-right: 8px;
}

audio {
  width: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: #f5f5f5;
}
